.logo{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}
.menu{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}
.main-content_title{
    font-family: PT Serif;
    font-style: normal;
}
.main-content_text{
    font-family: Roboto;
    font-style: normal;
 
}
.main-content_button{
    font-family: Roboto;
    font-style: normal;
}
