.head_name{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}
.navigac{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}
.title{
    font-family: PT Serif;
    font-style: normal;
}
.p_text{
    font-family: Roboto;
    font-style: normal;
  
}
.button_text{
    font-family: Roboto;
    font-style: normal;
}
